@font-face {
    font-family: 'Simplon Mono';
    src: url('../fonts/SimplonMono-Light.eot');
    src: url('../fonts/SimplonMono-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SimplonMono-Light.woff2') format('woff2'),
        url('../fonts/SimplonMono-Light.woff') format('woff'),
        url('../fonts/SimplonMono-Light.ttf') format('truetype'),
        url('../fonts/SimplonMono-Light.svg#SimplonMono-Light') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'Simplon Mono';
    src: url('../fonts/SimplonMono-Bold.eot');
    src: url('../fonts/SimplonMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SimplonMono-Bold.woff2') format('woff2'),
        url('../fonts/SimplonMono-Bold.woff') format('woff'),
        url('../fonts/SimplonMono-Bold.ttf') format('truetype'),
        url('../fonts/SimplonMono-Bold.svg#SimplonMono-Bold') format('svg');
    font-weight: bold;
}

@font-face {
    font-family: 'Lydian MT Std';
    src: url('../fonts/LydianMTStd.eot');
    src: url('../fonts/LydianMTStd.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LydianMTStd.woff2') format('woff2'),
        url('../fonts/LydianMTStd.woff') format('woff'),
        url('../fonts/LydianMTStd.ttf') format('truetype'),
        url('../fonts/LydianMTStd.svg#LydianMTStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
  padding-bottom: 1em;
  min-height: 100vh;
}

body{
    background-color: var(--background-color) !important;
}

.container{
    position: relative;
}

.min-height{
    min-height: calc(100vh - 5em);
}

.cream{color: #FFF7EF;}
.lightgreen{color: #677D6B;}
.green{color: #2D4130;}
.lightgrey{color: #BBAEA5;}
.grey{color: #35312E;}
.lightnavy{color: #778E98;}
.navy{color: #002B3D;}
.lightorange{color: #C98B75;}
.orange{color: #A44E30;}
.lightpink{color: #C7A6A3;}
.pink{color: #BC6C64;}

a{text-decoration:none;}
a:hover{text-decoration:none !important; cursor: pointer;}

a.link-color{color: var(--link-color);}
a.link-color:hover{color: var(--hover-color) !important;}

a.link-color{color: var(--link-color);}
a.no-hover:hover{color: var(--nohover-color);}

.logo-index{
    width: 65%;
    height: auto;
}

.heading1{
    font-family: 'Lydian MT Std', serif;
    font-size: 2.8em;
    line-height: 1.2em;
    margin-top: -0.3em;
}

.heading2{
    font-family: 'Lydian MT Std', serif;
    font-size: 2em;
    line-height: 1.2em;
    margin-top: -0.3em;
}

.heading3{
    font-family: 'Simplon Mono', sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.6em;
}

.heading4{
    font-family: 'Simplon Mono', sans-serif;
    font-weight: 300;
    font-size: 0.6em;
    line-height: 1.8em;
}

.paragraph{
    font-family: 'Simplon Mono', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    line-height: 2em;
}

.paragraph-large{
    font-family: 'Simplon Mono', sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 2em;
}

.paragraph-small{
    font-family: 'Simplon Mono', sans-serif;
    font-weight: 300;
    font-size: 0.5em;
    line-height: 0.6em;
}

.margin-top-small{
    margin-top: -0.5em;
}

.margin-top-large{
    margin-top: -1em;
}

.bold{
    font-family: 'Simplon Mono', sans-serif;
    font-weight: bold;
}

.logo{
    width: 65%;
    height: auto;
    margin: 1.5em 0em;
}

.footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
} 

#p-hover:hover{
    color: #677D6B;
    cursor: pointer;
}

.navbutton{
    position: fixed;
    bottom: 4em;
    right: 8em;
    z-index: 99;
    border: none;
    outline: none;
    color: #FFF7EF;
    font-family: 'Simplon Mono';
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    font-size: 0.7em;
    line-height: 0.7em;
    padding: 1.4em;
    border-radius: 30px;
    background-color: var(--button-color);
    box-shadow: 0 4.5px 4px -4px #191919;
}

.img-sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 2em;
}

.indexshadow{
    box-shadow: 0 2px 20px 2px #75757550;
}

.imagecontainer{
    position: relative;
    width: 100%;
}
  
.image{
    display: block;
    width: 100%;
    height: auto;
}

.text{
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0em 2em;
    transform: translate(0, -50%);
}
  
.firstoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #002B3D;
}

.imagecontainer:hover .firstoverlay {
    opacity: 1;
}

.firstshadow{
    -webkit-filter: drop-shadow(4px 4px 10px #00000050);
            filter: drop-shadow(4px 4px 10px #00000050);
}

.secondoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #C7A6A3;
}

.imagecontainer:hover .secondoverlay {
    opacity: 1;
}

.secondshadow{
    -webkit-filter: drop-shadow(4px 4px 10px #19191950);
            filter: drop-shadow(4px 4px 10px #19191950);
}

.thirdoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #A44E30;
}

.imagecontainer:hover .thirdoverlay {
    opacity: 1;
}

.thirdshadow{
    -webkit-filter: drop-shadow(4px 4px 10px #19191950);
            filter: drop-shadow(4px 4px 10px #19191950);
}

.fourthoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #778E98;
}

.imagecontainer:hover .fourthoverlay {
    opacity: 1;
}

.fourthshadow{
    -webkit-filter: drop-shadow(4px 4px 10px #32323250);
            filter: drop-shadow(4px 4px 10px #32323250);
}

.fifthoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #35312E;
}

.imagecontainer:hover .fifthoverlay {
    opacity: 1;
}

.fifthshadow{
    -webkit-filter: drop-shadow(4px 4px 10px #19191950);
            filter: drop-shadow(4px 4px 10px #19191950);
}

.sixthoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #C98B75;
}

.imagecontainer:hover .sixthoverlay {
    opacity: 1;
}

.sixthshadow{
    -webkit-filter: drop-shadow(4px 4px 10px #32323250);
            filter: drop-shadow(4px 4px 10px #32323250);
}

.seventhoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #2D4130;
}

.imagecontainer:hover .seventhoverlay {
    opacity: 1;
}

.seventhshadow{
    -webkit-filter: drop-shadow(4px 4px 10px #00000050);
            filter: drop-shadow(4px 4px 10px #00000050);
}

.eighthoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #BBAEA5;
}

.imagecontainer:hover .eighthoverlay {
    opacity: 1;
}

.eighthshadow{
    -webkit-filter: drop-shadow(4px 4px 10px #32323250);
            filter: drop-shadow(4px 4px 10px #32323250);
}

.ninthoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #BC6C64;
}

.imagecontainer:hover .ninthoverlay {
    opacity: 1;
}

.ninthshadow{
    -webkit-filter: drop-shadow(4px 4px 10px #32323250);
            filter: drop-shadow(4px 4px 10px #32323250);
}

.tenthoverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #677D6B;
}

.imagecontainer:hover .tenthoverlay {
    opacity: 1;
}

.tenthshadow{
    -webkit-filter: drop-shadow(4px 4px 10px #32323250);
            filter: drop-shadow(4px 4px 10px #32323250);
}

.left-col{
    height: 100%;
}

#menuBtn{
    margin-top: 1.5em;
    color: #FFF7EF;
	background-color: none;
	border: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}
  
li{
    font-family: 'Simplon Mono', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
    line-height: 1.8em;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (max-width:1200px) {
    .heading1{
        font-size: 2.8em;
    }
}

@media screen and (max-width:768px) {
    .heading1{
        font-size: 2.4em;
    }

    .logo-index{
        display: none;
    }

    .mobilehead{
        position: relative;
        background-color: var(--background-color);
    }

    .mobilehead::after{
        content:'';
        display: block;
        pointer-events: none;
        height: 100%;
        width: 100vw;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 2px 20px -2px #00000050;
    }
}

@media screen and (max-width:575px){
    .heading1{
        font-size: 2em;
    }

    .paragraph{
        font-size: 0.6em;
        line-height: 1.8em;
    }

    .paragraph-large{
        font-size: 0.8em;
        line-height: 1.8em;
    }

    .paragraph-small{
        font-size: 0.5em;
        line-height: 1.2em;
    }

    .navbutton{
        right: 1.5em;
    }
}