@font-face {
    font-family: 'Lydian MT Std';
    src: url('LydianMTStd.eot');
    src: url('LydianMTStd.eot?#iefix') format('embedded-opentype'),
        url('LydianMTStd.woff2') format('woff2'),
        url('LydianMTStd.woff') format('woff'),
        url('LydianMTStd.ttf') format('truetype'),
        url('LydianMTStd.svg#LydianMTStd') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Simplon Mono';
    src: url('SimplonMono-Bold.eot');
    src: url('SimplonMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('SimplonMono-Bold.woff2') format('woff2'),
        url('SimplonMono-Bold.woff') format('woff'),
        url('SimplonMono-Bold.ttf') format('truetype'),
        url('SimplonMono-Bold.svg#SimplonMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Simplon Mono';
    src: url('SimplonMono-Light.eot');
    src: url('SimplonMono-Light.eot?#iefix') format('embedded-opentype'),
        url('SimplonMono-Light.woff2') format('woff2'),
        url('SimplonMono-Light.woff') format('woff'),
        url('SimplonMono-Light.ttf') format('truetype'),
        url('SimplonMono-Light.svg#SimplonMono-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}